<div class="items-wrapper">
	<ng-container *ngIf="recordsDataService.records$ | async as records">
		<mat-card class="ms-card comparison-item" *ngFor="let item of records; index as i">
			<div class="item-wrapper">
				<div msUseEllipsis>{{ item.recordName }}</div>
				<div class="record-summary-buttons-wrapper">
					<button mat-icon-button color="primary" (click)="viewRecord(item)">
						<mat-icon fontSet="ms" fontIcon="icon-Eye" class="mat-primary"></mat-icon>
					</button>
					<button mat-icon-button color="primary" (click)="editRecord(i, item)">
						<mat-icon fontSet="ms" fontIcon="icon-PencilSimple" class="mat-primary"></mat-icon>
					</button>
					<button mat-icon-button color="error" (click)="removeRecord(i)">
						<mat-icon class="mat-error">delete</mat-icon>
					</button>
				</div>
			</div>
		</mat-card>
	</ng-container>
</div>
