<h1>Buttons</h1>
<div class="line">
	<mat-divider></mat-divider>
</div>

<div class="section">
	<h2>Default</h2>

	<div class="parent items-per-row-6">
		<div>Basic</div>
		<div>Primary</div>
		<div>Accent</div>
		<div>Warn</div>
		<div>Disabled</div>
		<div>Link</div>

		<div>
			<button mat-button>Lorem Ipsum</button>
		</div>
		<div>
			<button mat-button color="primary">Lorem Ipsum</button>
		</div>
		<div>
			<button mat-button color="accent">Lorem Ipsum</button>
		</div>
		<div>
			<button mat-button color="warn">Lorem Ipsum</button>
		</div>
		<div>
			<button mat-button disabled>Lorem Ipsum</button>
		</div>
		<div>
			<a mat-button href="https://www.google.com/" target="_blank">Link</a>
		</div>
	</div>

	<div class="line">
		<mat-divider></mat-divider>
	</div>
</div>

<div class="section">
	<h2>Raised buttons</h2>

	<div class="parent items-per-row-6">
		<div>Basic</div>
		<div>Primary</div>
		<div>Accent</div>
		<div>Warn</div>
		<div>Disabled</div>
		<div>Link</div>

		<div>
			<button mat-raised-button>Lorem Ipsum</button>
		</div>
		<div>
			<button mat-raised-button color="primary">Lorem Ipsum</button>
		</div>
		<div>
			<button mat-raised-button color="accent">Lorem Ipsum</button>
		</div>
		<div>
			<button mat-raised-button color="warn">Lorem Ipsum</button>
		</div>
		<div>
			<button mat-raised-button disabled color="accent">Lorem Ipsum</button>
		</div>
		<div>
			<a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
		</div>
	</div>

	<div class="line">
		<mat-divider></mat-divider>
	</div>
</div>

<div class="section">
	<h2>Stroked buttons</h2>

	<div class="parent items-per-row-7">
		<div>Basic</div>
		<div>Basic White</div>
		<div>Primary</div>
		<div>Accent</div>
		<div>Warn</div>
		<div>Disabled</div>
		<div>Link</div>

		<div>
			<button mat-stroked-button>Lorem Ipsum</button>
		</div>
		<div>
			<button mat-stroked-button class="ms-white-stroked-button">Lorem Ipsum</button>
		</div>
		<div>
			<button mat-stroked-button color="primary">Lorem Ipsum</button>
		</div>
		<div>
			<button mat-stroked-button color="accent">Lorem Ipsum</button>
		</div>
		<div>
			<button mat-stroked-button color="warn">Lorem Ipsum</button>
		</div>
		<div>
			<button mat-stroked-button disabled color="accent">Lorem Ipsum</button>
		</div>
		<div>
			<a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
		</div>
	</div>

	<div class="line">
		<mat-divider></mat-divider>
	</div>
</div>

<div class="section">
	<h2>Flat buttons</h2>

	<div class="parent items-per-row-6">
		<div>Basic</div>
		<div>Primary</div>
		<div>Accent</div>
		<div>Warn</div>
		<div>Disabled</div>
		<div>Link</div>

		<div>
			<button mat-flat-button>Lorem Ipsum</button>
		</div>
		<div>
			<button mat-flat-button color="primary">Lorem Ipsum</button>
		</div>
		<div>
			<button mat-flat-button color="accent">Lorem Ipsum</button>
		</div>
		<div>
			<button mat-flat-button color="warn">Lorem Ipsum</button>
		</div>
		<div>
			<button mat-flat-button disabled color="primary">Lorem Ipsum</button>
		</div>
		<div>
			<a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
		</div>
	</div>

	<div class="line">
		<mat-divider></mat-divider>
	</div>
</div>

<div class="section">
	<h2>Icon buttons</h2>

	<div class="parent items-per-row-6">
		<div>Basic</div>
		<div>Primary</div>
		<div>Accent</div>
		<div>Warn</div>
		<div style="grid-column: span 2">Disabled</div>

		<div>
			<button mat-icon-button>
				<mat-icon>more_vert</mat-icon>
			</button>
		</div>
		<div>
			<button mat-icon-button color="primary"><mat-icon>home</mat-icon></button>
		</div>
		<div>
			<button mat-icon-button color="accent"><mat-icon>menu</mat-icon></button>
		</div>
		<div>
			<button mat-icon-button color="warn">
				<mat-icon>favorite</mat-icon>
			</button>
		</div>
		<div style="grid-column: span 2">
			<button mat-icon-button disabled color="accent"><mat-icon>open_in_new</mat-icon></button>
		</div>
	</div>

	<div class="line">
		<mat-divider></mat-divider>
	</div>
</div>

<div class="section">
	<h2>Slide toggle buttons</h2>

	<div class="parent items-per-row-5">
		<div>Basic</div>
		<div>Primary</div>
		<div>Accent</div>
		<div>Warn</div>
		<div>Disabled</div>

		<div>
			<mat-slide-toggle checked>Slide me!</mat-slide-toggle>
		</div>
		<div>
			<mat-slide-toggle color="primary" checked>Slide me!</mat-slide-toggle>
		</div>
		<div>
			<mat-slide-toggle color="accent" checked>Slide me!</mat-slide-toggle>
		</div>
		<div>
			<mat-slide-toggle color="warn" checked>Slide me!</mat-slide-toggle>
		</div>
		<div>
			<mat-slide-toggle disabled>Slide me!</mat-slide-toggle>
		</div>
	</div>
</div>

<div class="line">
	<mat-divider></mat-divider>
</div>
