<h1>Tables</h1>
<div class="line">
	<mat-divider></mat-divider>
</div>

<mat-card class="ms-card">
	<p class="heading-sub-section-title">History</p>

	<mat-table [dataSource]="dataSourceSimple" class="ms-table">
		<!-- Position Column -->
		<ng-container matColumnDef="position">
			<mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<b>{{ element.position }}</b>
			</mat-cell>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
		</ng-container>

		<!-- Weight Column -->
		<ng-container matColumnDef="weight">
			<mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{ element.weight }} </mat-cell>
		</ng-container>

		<!-- Symbol Column -->
		<ng-container matColumnDef="symbol">
			<mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{ element.symbol }} </mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumnsSimple"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumnsSimple"></mat-row>
	</mat-table>
</mat-card>
