<div class="charts">
	<div class="ms-chart-display accuracy-chart">
		<div class="reconstructions">
			<ms-line-chart
				[data]="initialAccuracyChartData"
				[realtimeUpdateMetric]="RealtimeUpdateMetric.ACCURACY"
				[settings]="accuracyChartDisplaySettings"></ms-line-chart>
		</div>
		<div class="testing">
			<ms-line-chart
				[data]="initialAccuracyTestingChartData"
				[realtimeUpdateMetric]="RealtimeUpdateMetric.TESTING_ACCURACY"
				[settings]="accuracyTestingChartDisplaySettings"></ms-line-chart>
		</div>
	</div>

	<div class="ms-chart-display loss-chart">
		<div class="reconstructions">
			<ms-line-chart
				[data]="initialLossChartData"
				[realtimeUpdateMetric]="RealtimeUpdateMetric.LOSS"
				[settings]="lossChartDisplaySettings"></ms-line-chart>
		</div>
		<div class="testing">
			<ms-line-chart
				[data]="initialLossTestingChartData"
				[settings]="lossTestingChartDisplaySettings"
				[realtimeUpdateMetric]="RealtimeUpdateMetric.TESTING_LOSS"></ms-line-chart>
		</div>
	</div>
</div>
