.ms-terminal-style-configurator {
	.xterm-dynamic-style-wrapper {
		display: flex;
		gap: 1rem;
		margin-top: 20px;

		.settings-form {
			display: flex;
			flex-direction: column;
			min-width: 340px;
			max-width: 340px;
		}

		.terminal-wrapper {
			display: flex;
			width: 90%;

			height: 460px;

			border: 10px solid;
			border-radius: 10px;
		}

		.colors-container {
			display: grid;
			column-gap: 10px;
			row-gap: 20px;

			grid-template-columns: repeat(2, 1fr);
		}
	}

	.buttons-container {
		display: flex;
	}
}
