.xterm-dynamic-style-wrapper {
	display: flex;
	gap: 1rem;
	margin-top: 20px;
}

.settings-form {
	width: 300px;
	display: flex;
	flex-direction: column;
}

.terminal-wrapper {
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	border: 10px solid var(--terminal-color);
	background-color: var(--terminal-color);
	border-radius: 10px;
}
