::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--backgrounds-100);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--backgrounds-500);
	border-radius: 16px;
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--backgrounds-700);
}
