<div class="tooltip-container" [ngClass]="position" [@tooltipState]="state">
	<div class="tooltip-arrow"></div>

	<div class="tooltip-wrapper">
		<ng-container *ngIf="contentTemplate">
			<div class="tooltip-content">
				<ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
			</div>
		</ng-container>

		<div *ngIf="showCloseButton" class="close-button">
			<button mat-icon-button (click)="triggerClose()">
				<mat-icon fontSet="ms" fontIcon="icon-X" class="mat-error size-20"></mat-icon>
			</button>
		</div>
	</div>
</div>
