<ms-background-gradient>
	<ms-header></ms-header>

	<div class="mode-select-wrapper">
		<div></div>
		<div class="mode-select-warpper-content">
			<div class="text">
				<span class="paragraph-semibold-p1-xlarge-emphasis block text-white"
					>Hello {{ (authFacadeService.user$ | async)?.name }}</span
				>
				<span class="paragraph-semibold-p1-xlarge-emphasis block text-white"
					>Welcome to ModelSmith. Please select a mode to start:</span
				>

				<div class="mode-select-buttons mt-20">
					<div class="nav-type-button">
						<button mat-stroked-button class="ms-white-stroked-button" (click)="goToExpertMode()">Expert Mode</button>
					</div>
					<div class="nav-type-button mt-10">
						<button mat-stroked-button class="ms-white-stroked-button" (click)="goToGuidedMode()">Guided Mode</button>
					</div>
					<div class="mt-3 ml-[-8px]">
						<mat-checkbox class="ms-checkbox-white" color="primary" #configureDefaultMode checked
							>Remember my choice for the future
						</mat-checkbox>
					</div>
				</div>
			</div>
		</div>
		<div></div>
	</div>

	<ms-footer styleMode="fullWidth"></ms-footer>
</ms-background-gradient>
