<p class="heading-primary-title title">Machine Unlearning</p>

<div class="machine-unlearning-wrapper" [formGroup]="form">
	<div class="left">
		<ng-container [formGroup]="form">
			<ms-panel-parameters #panelParameters formArrayName="params"></ms-panel-parameters>
		</ng-container>

		<div>
			<button mat-raised-button color="primary" (click)="submit()" [disabled]="isScriptActive || form.invalid">
				Run
			</button>
			<button mat-raised-button color="primary" class="ml-2" (click)="retrainModel()" [disabled]="isScriptActive">
				Retrain model
			</button>
			<button class="ml-2" mat-raised-button color="primary" (click)="goToChartPage()">View Chart</button>
		</div>
	</div>
	<div class="right">
		<ms-terminal></ms-terminal>
	</div>
</div>
